<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HI</title>
</head>
<body>
<!-- header fragment 사용 -->
<th:block th:replace="fragments/boardHeader :: boardHeader"></th:block>

 <form role="form" th:object="${boards}">
     <table border="1">
         <tr th:each="board : ${boards}">
             <td align="right" th:onclick="|location.href='/boards?boardId=${board.id}'|"
                 th:text="|${board.boardTitle}|">
             </td>
             <td align="left" th:text="${board.member.name}"></td>
         </tr>
     </table>
 </form>

<nav style="text-align: center;">
    <ul class="pagination"
        th:with="start=${pageNumberDto.startPage},
                 last=${pageNumberDto.endPage}">

        <!-- 첫 번째 페이지로 이동 버튼 -->
        <li>
            <a th:href="@{/board(currentPage=1,boardCountsPerPage=10)}"
               aria-label="first">
                <span aria-hidden="true">First</span>
            </a>
        </li>

        <!-- 이전 10개 버튼으로 이동 버튼 -->
        <li th:class="${pageNumberDto.startPage == 1} ? 'disabled'">
            <a th:href="${pageNumberDto.startPage == 1} ? '#' :@{/board(currentPage=${pageNumberDto.startPage-10},boardCountsPerPage=10)}"
               aria-label="previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>

        <!-- 현재 페이지 그룹 나열 -->
        <li th:each="page: ${#numbers.sequence(start, last)}"
            th:class="${page == pageNumberDto.currentPage + 1} ? 'active'">
            <a th:text="${page}" th:href="@{/board(currentPage=${page},boardCountsPerPage=10)}"></a>
        </li>

        <!-- 다음 10개 버튼으로 이동 버튼 -->
        <!-- TODO 페이지가 100개 등으로 나누어 떨어질 때 다음 페이지로 가지 못하게 하는  기능 추가 구현해야함 -->
        <li th:class="${pageNumberDto.next == false} ? 'disabled'">
            <a th:href="${pageNumberDto.next == false} ? '#' :@{/board(currentPage=${pageNumberDto.endPage+10},boardCountsPerPage=10)}"
               aria-label="next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>

        <!-- 마지막 페이지로 가기 버튼 -->
        <li>
            <a th:href="@{/board(currentPage=1,boardCountsPerPage=10)}"
               aria-label="first">
                <span aria-hidden="true">First</span>
            </a>
        </li>

    </ul>
</nav>

</body>
</html>