<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
</head>

<ul class="nav nav-pills pull-right">
    <li>
        <a href="/"><h3 class="text-muted">팔도게임즈</h3></a>
    </li>
</ul>

<div class="container">
    <div class="jumbotron">
        <h1 style="text-align:center">PALDO GAMES</h1>
        <br/>
        <p>
            <a class="btn btn-lg btn-secondary" href="login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="members/new">회원 가입</a>
        </p>
    </div>
</div>

</html>